* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    

    /* Text Size */
    --p: 1rem;
    --font-scaling: 1.333;
    --h5: calc(var(--p) * var(--font-scaling));
    --h4: calc(var(--h5) * var(--font-scaling));
    --h3: calc(var(--h4) * var(--font-scaling));
    --h2: calc(var(--h3) * var(--font-scaling));
    --h1: calc(var(--h2) * var(--font-scaling));

    /* Semantic Colors */
    --success: hsl(147, 90%, 50%);
    --warning: hsl(60, 82%, 55%);
    --error: hsl(147, 82%, 55%);
    --info: hsl(147, 82%, 55%);
}

h1{
    font-size: var(--h1)
}

h2{
    font-size: var(--h2)
}

h3{
    font-size: var(--h3)
}

h4{
    font-size: var(--h4)
}

h5{
    font-size: var(--h5)
}

section{
    padding:70px;
}

button{
    padding: 10px 15px;
    border: 0px solid;
    border-radius: 5px;
    font-size: var(--p);
    color:hsl(0, 0%, 6%);
    font-weight:500;
    background-color: hsl(221, 100%, 83%)
}

button:hover{
    background-color: hsl(222, 100%, 88%)
}

.navbar {
    background-color: hsl(200, 11%, 84%);
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    height: 12vh;
    position: sticky;
    top:0px;
    z-index:100;
}

.navbar__left {
    flex: 1 1 0;
    height: 100%;
    margin-left: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.navbar__logo {
    background-color: hsl(0, 0%, 94%);
    width: 7%;
    height: 50%;
    border: 0px solid;
    border-radius: 100px;
}

.navbar__site-name {
    font-size: var(--h5);
}

.navbar__right {
    flex: 1 1 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.navbar__right button{
    padding: 10px 15px;
    border: 0px solid;
    border-radius: 5px;
    font-size: var(--p);
    color:hwb(0 6% 94%);
    font-weight:500;
}

.navbar__right button:hover{
    
}

.navbar__home{

}

.navbar__facilities{

}

.navbar__about{

}

.navbar__contact{

}

.hero{
    padding:70px;
    background-color:#e3f6f5;
}

.hero__container{
    display:flex;
    flex-wrap:nowrap;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:30px;
    padding: 50px;
}

.hero__title{
    text-align:center;
    margin-bottom:10px;
}

.hero__subtitle{
    text-align:center;
    font-weight:500;
    max-width:50ch;
}

.hero__buttons{
    margin-top:50px;
    display:flex;
    justify-content:center;
    gap:100px;
}

.hero__button__primary{
    padding: 15px 20px;
    background-color:#ffd803;
    font-weight:bold;
}

.hero__button__primary:hover{
    background-color:#ffef93;
}

.hero__button__secondary{
    background-color:hsl(0, 0%, 90%);
}

.hero__button__secondary:hover{
    background-color: hsl(0, 0%, 99%);
}

.about{
    
}

.about__container{
    background-color:#ffef93;
    height:auto;
    display:flex;
    border: 0px solid;
    border-radius:10px;
}

.about__container__left{
    padding:50px;
    flex: 2 1;  
}

.about__title{
    margin-bottom:40px;
}

.about__subtitle{
    font-weight:400;
    margin-bottom:40px;
}

.about__container__right{
    flex: 1 1;
    padding: 40px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.about__container__right img{
    height: 80vh;
}

.specification{
    background-color:#e3f6f5;
}

.footer{

}