* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Color */
    --bg: hsl(0, 0%, 94%);
    --text: hsl(0, 0%, 5%);
    --primary: hsl(256, 70%, 60%);
    --secondary: hsl(46, 100%, 70%);
    --accent: hsl(0, 100%, 50%);

    --text-light: hsl(0, 0%, 95%);

    --bg-light: hsl(256, 13%, 81%);

    --primary65: hsl(256, 70%, 65%);
    --primary70: hsl(256, 70%, 70%);
    --primary80: hsl(256, 70%, 80%);

    --secondary70: hsl(46, 70%, 70%);
    --secondary80: hsl(46, 70%, 80%);

    --text10: hsl(0, 0%, 10%);

    /* Text Size */
    --p: 1rem;
    --font-scaling: 1.333;
    --h5: calc(var(--p) * var(--font-scaling));
    --h4: calc(var(--h5) * var(--font-scaling));
    --h3: calc(var(--h4) * var(--font-scaling));
    --h2: calc(var(--h3) * var(--font-scaling));
    --h1: calc(var(--h2) * var(--font-scaling));

    /* Semantic Colors */
    --success: hsl(147, 90%, 50%);
    --warning: hsl(60, 82%, 55%);
    --error: hsl(147, 82%, 55%);
    --info: hsl(147, 82%, 55%);
}

h1{
    font-size: var(--h1)
}

h2{
    font-size: var(--h2)
}

h3{
    font-size: var(--h3)
}

h4{
    font-size: var(--h4)
}

h5{
    font-size: var(--h5)
}

.navbar {
    background-color: var(--bg-light);
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    height: 12vh;
    position: sticky;
}

.navbar__left {
    flex: 1 0 0;
    height: 100%;
    margin-left: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.navbar__logo {
    background-color: var(--bg);
    width: 7%;
    height: 50%;
    border: 0px solid;
    border-radius: 100px;
}

.navbar__site-name {
    font-size: var(--h5);
}

.navbar__right {
    flex: 1 0 0;
    height: 100%;
    margin-right:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.navbar__right button{
    padding: 10px 15px;
    border: 0px solid;
    border-radius: 5px;
    font-size: var(--p);
    color:hsl(0, 0%, 6%);
    font-weight:500;
    background-color: hsl(221, 95%, 75%)
}

.navbar__right button:hover{
    background-color: hsl(221, 100%, 83%)
}

.navbar__home{

}

.navbar__spec{

}

.navbar__about{

}

.navbar__contact{

}